<div class="cart__qty">
<!--                   <label for="updates_{{ item.key }}" class="cart__qty-label">{{ 'cart.label.quantity' | t }}</label> -->
                 
                    <span id="plusupdates_{{ item.key }}" style="font-size: 23px; cursor: pointer; margin-left: 25px;"  onclick="plusquantity(this.id)" >+</span>
                
  <input class="cart__qty-input" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" pattern="[0-9]*">
                <span id="minusupdates_{{ item.key }}" style="font-size: 23px; cursor: pointer;" onclick="minusquantity(this.id)">-</span>
                </div>

<script>
function plusquantity(clicked_id) {
  
  
 var clicked_id = clicked_id.replace('plus','');

var number = parseInt(document.getElementById(clicked_id).value);
  number=number+1;
document.getElementById(clicked_id).value=number;

}
    
    function  minusquantity(clicked_id) {
 
       var clicked_id = clicked_id.replace('minus','');
      
var number = parseInt(document.getElementById(clicked_id).value);
  number=number-1;
document.getElementById(clicked_id).value=number;

}
</script>
